## Dependency directory
node_modules

# Cypress
cypress/downloads
cypress/runner-results
cypress/videos
cypress/screenshots

# Sensitive files
.env
.gitlab-ci.yml
cypress/data
cypress.config.ts
package-lock.json
package.json
